.carousel-item {
    /* Modifica el tamaño del carousel */
    height: 520px;    
  }
.carousel-item img {
    /* Modifica la Imagen del Carousel */
    object-fit: contain; 
    width: 95%; 
    height: 95%; 
}
.carousel-caption h5,
.carousel-caption p {
    /* Sombra al Texto */
    text-shadow: 2px 2px 4px #000000; 
}
.quicksand-font {
    /* Cambia la Fuente */
    font-family: 'Quicksand', sans-serif;
}
/* Cambio Contenedor*/
.outer-container {
    background-color: #3F72AF;
    padding: 50px 0;
}
/* Cambios botones*/
.btn {
    color: white; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.btn:hover {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
} 
footer {
    /* Elimina el Margen Superior del Footer y el Padding */
    margin-top: 0; 
    padding: 0; 
}
.carousel {
    /* Elimina el Margen Inferior del Carrusel */
    margin-bottom: 0; 
}
